/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Styles for the body */

body {
	font-family: playfair display;
	color: #202030;
	background-color: #2E3030;
	font-style: normal;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #9CA9FA;
}

.resume-main {
	background-color: #D2D8FE;
}

.resume-aside {
	background-color: #ECEEFF;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #3748D0;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.textcolour1{color: aliceblue} 


.textshadow{text-shadow: 2px 2px 2px black}

.blockcolour {border: dotted #3748D0}


.language-progress {background-color: #FF00F3 !important
	
}